*.idea/
*.idea

poetry.lock

__pycache__/
massbalancemachine/__pycache__/
massbalancemachine/data_processing/__pycache__/
massbalancemachine/utils/__pycache__/

OGGM/
notebooks/OGGM/**
notebooks/models
notebooks/.ipynb_checkpoints
notebooks/example_data/iceland/plots/

# Generated content during documentation build
docs/_build/
docs/generated/
docs/notebooks/
docs/MBM_logo.png

.data/

regions/RGI_11_Switzerland/results
regions/RGI_11_Switzerland/figures
regions/RGI_11_Switzerland/.ipynb_checkpoints

regions/RGI_11_French_Alps/models
regions/RGI_11_French_Alps/.ipynb_checkpoints

regions/RGI_11_Italy_and_Austria/.ipynb_checkpoints

regions/RGI_08_Norway_mb/.ipynb_checkpoints

regions/RGI_06_Iceland_mb/models
regions/RGI_06_Iceland_mb/.ipynb_checkpoints

regions/Overview


regions/TF_Europe/figures/**
regions/TF_Europe/results/**
regions/TF_Europe/.ipynb_checkpoints/

notes


regions/Norway/data/
*.tox/
*.tox

logs/
venv/

*.parquet
*.pt
*.ipynb_checkpoints/
