*.idea/
*.idea

__pycache__/
massbalancemachine/__pycache__/
massbalancemachine/data_processing/__pycache__/
massbalancemachine/utils/__pycache__/

notebooks/OGGM/**
notebooks/models
notebooks/.ipynb_checkpoints

regions/Switzerland/models/**
regions/Switzerland/results
regions/Switzerland/figures
regions/Switzerland/.ipynb_checkpoints

regions/French_Alps/models
regions/French_Alps/.ipynb_checkpoints
regions/French_Alps/figures
regions/French_Alps/logs

regions/Italy_and_Austria/models
regions/Italy_and_Austria/.ipynb_checkpoints
regions/Italy_and_Austria/figures
regions/Italy_and_Austria/logs

regions/Norway_mb/models
regions/Norway_mb/.ipynb_checkpoints
regions/Norway_mb/figures
regions/Norway_mb/logs

regions/Iceland_mb/models
regions/Iceland_mb/.ipynb_checkpoints
regions/Iceland_mb/figures
regions/Iceland_mb/logs

tests/data_processing/test_swiss_preprocessed_data.py
tests/models/test_train.py

#regions/Overview

#notes


regions/Norway/data/
*.tox/
*.tox
