*.idea/
*.idea

__pycache__/
massbalancemachine/__pycache__/
massbalancemachine/data_processing/__pycache__/
massbalancemachine/data_utils/__pycache__/

notebooks/OGGM/per_glacier/**

notebooks/.ipynb_checkpoints
