absl-py==2.5.0 ; python_version >= "3.11" and python_version < "3.13"
accessible-pygments==0.0.5 ; python_version >= "3.11" and python_version < "3.13"
affine==3.0.1 ; python_version >= "3.11" and python_version < "3.13"
aiobotocore==3.9.2 ; python_version >= "3.11" and python_version < "3.13"
aiohappyeyeballs==2.7.1 ; python_version >= "3.11" and python_version < "3.13"
aiohttp==3.14.3 ; python_version >= "3.11" and python_version < "3.13"
aioitertools==0.13.0 ; python_version >= "3.11" and python_version < "3.13"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "3.13"
alabaster==0.7.16 ; python_version >= "3.11" and python_version < "3.13"
annotated-types==0.8.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.15.1 ; python_version >= "3.11" and python_version < "3.13"
appnope==1.0.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Darwin"
argon2-cffi-bindings==26.1.0 ; python_version >= "3.11" and python_version < "3.13"
argon2-cffi==25.1.0 ; python_version >= "3.11" and python_version < "3.13"
arrow==1.4.0 ; python_version >= "3.11" and python_version < "3.13"
asciitree==0.3.3 ; python_version >= "3.11" and python_version < "3.13"
asttokens==3.0.2 ; python_version >= "3.11" and python_version < "3.13"
async-lru==2.3.0 ; python_version >= "3.11" and python_version < "3.13"
attrs==26.1.0 ; python_version >= "3.11" and python_version < "3.13"
babel==2.18.0 ; python_version >= "3.11" and python_version < "3.13"
backports-zstd==1.7.0 ; python_version >= "3.11" and python_version < "3.13"
beautifulsoup4==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
bleach==6.4.0 ; python_version >= "3.11" and python_version < "3.13"
blosc2==4.14.1 ; python_version >= "3.11" and python_version < "3.13"
botocore==1.43.106 ; python_version >= "3.11" and python_version < "3.13"
bottleneck==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
bounded-pool-executor==0.0.3 ; python_version >= "3.11" and python_version < "3.13"
brotli==1.2.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation == "CPython"
brotlicffi==1.2.0.2 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "CPython"
build==1.6.1 ; python_version >= "3.11" and python_version < "3.13"
cdsapi==0.7.7 ; python_version >= "3.11" and python_version < "3.13"
certifi==2026.7.22 ; python_version >= "3.11" and python_version < "3.13"
cffi==2.1.1 ; python_version >= "3.11" and python_version < "3.13"
cftime==1.6.6 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.5.2 ; python_version >= "3.11" and python_version < "3.13"
click-plugins==1.1.1.2 ; python_version >= "3.11" and python_version < "3.13"
click==8.5.0 ; python_version >= "3.11" and python_version < "3.13"
cligj==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
cloudpickle==3.1.2 ; python_version >= "3.11" and python_version < "3.13"
cmcrameri==1.10 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13"
comm==0.2.3 ; python_version >= "3.11" and python_version < "3.13"
configobj==5.0.9 ; python_version >= "3.11" and python_version < "3.13"
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.13"
coverage==7.16.2 ; python_version >= "3.11" and python_version < "3.13"
cuda-bindings==13.4.3 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
cuda-pathfinder==1.8.3 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
cuda-toolkit==13.0.3 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.13"
dask==2026.8.0 ; python_version >= "3.11" and python_version < "3.13"
debugpy==1.8.22 ; python_version >= "3.11" and python_version < "3.13"
decorator==5.3.1 ; python_version >= "3.11" and python_version < "3.13"
defusedxml==0.7.1 ; python_version >= "3.11" and python_version < "3.13"
deprecated==1.3.1 ; python_version == "3.11"
deprecated==3.0.0 ; python_version == "3.12"
dill==0.3.9 ; python_version >= "3.11" and python_version < "3.13"
docutils==0.20.1 ; python_version >= "3.11" and python_version < "3.13"
earthaccess==0.17.0 ; python_version >= "3.11" and python_version < "3.13"
ecmwf-datastores-client==0.5.3 ; python_version >= "3.11" and python_version < "3.13"
executing==2.2.1 ; python_version >= "3.11" and python_version < "3.13"
fasteners==0.20 ; python_version >= "3.11" and python_version < "3.13" and sys_platform != "emscripten"
fastjsonschema==2.22.2 ; python_version >= "3.11" and python_version < "3.13"
filelock==4.0.9 ; python_version >= "3.11" and python_version < "3.13"
fonttools==4.66.1 ; python_version >= "3.11" and python_version < "3.13"
fqdn==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
fsspec==2026.9.0 ; python_version >= "3.11" and python_version < "3.13"
geopandas==1.1.4 ; python_version >= "3.11" and python_version < "3.13"
gitdb==4.0.12 ; python_version >= "3.11" and python_version < "3.13"
gitpython==3.2.0 ; python_version >= "3.11" and python_version < "3.13"
grpcio==1.84.0 ; python_version >= "3.11" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.13"
h2==4.4.1 ; python_version >= "3.11" and python_version < "3.13"
hf-xet==1.6.0 ; python_version >= "3.11" and python_version < "3.13" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
httpcore2==2.13.1 ; python_version >= "3.11" and python_version < "3.13" and sys_platform != "emscripten"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.13"
httpx2-jsfetch==1.0 ; python_version == "3.12" and sys_platform == "emscripten"
httpx2==2.13.1 ; python_version >= "3.11" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "3.13"
huggingface-hub==1.33.0 ; python_version >= "3.11" and python_version < "3.13"
humanize==4.16.0 ; python_version >= "3.11" and python_version < "3.13"
hyperframe==6.1.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.20 ; python_version >= "3.11" and python_version < "3.13"
imageio==2.38.0 ; python_version >= "3.11" and python_version < "3.13"
imagesize==2.0.1 ; python_version >= "3.11" and python_version < "3.13"
importlib-metadata==9.0.1 ; python_version == "3.11"
importlib-resources==7.1.0 ; python_version >= "3.11" and python_version < "3.13"
iniconfig==2.3.0 ; python_version >= "3.11" and python_version < "3.13"
ipykernel==6.31.0 ; python_version >= "3.11" and python_version < "3.13"
ipython==8.39.0 ; python_version >= "3.11" and python_version < "3.13"
ipywidgets==8.1.9 ; python_version >= "3.11" and python_version < "3.13"
isoduration==20.11.0 ; python_version >= "3.11" and python_version < "3.13"
jedi==0.20.0 ; python_version >= "3.11" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "3.13"
jmespath==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
joblib==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
json5==0.15.0 ; python_version >= "3.11" and python_version < "3.13"
jsonpointer==3.1.1 ; python_version >= "3.11" and python_version < "3.13"
jsonschema-specifications==2025.9.1 ; python_version >= "3.11" and python_version < "3.13"
jsonschema==4.26.0 ; python_version >= "3.11" and python_version < "3.13"
jupyter-builder==1.2.3 ; python_version >= "3.11" and python_version < "3.13"
jupyter-client==8.10.0 ; python_version >= "3.11" and python_version < "3.13"
jupyter-console==6.6.3 ; python_version >= "3.11" and python_version < "3.13"
jupyter-core==5.9.1 ; python_version >= "3.11" and python_version < "3.13"
jupyter-events==0.12.1 ; python_version >= "3.11" and python_version < "3.13"
jupyter-lsp==2.3.1 ; python_version >= "3.11" and python_version < "3.13"
jupyter-server-terminals==0.5.4 ; python_version >= "3.11" and python_version < "3.13"
jupyter-server==2.21.1 ; python_version >= "3.11" and python_version < "3.13"
jupyter==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
jupyterlab-execute-time==3.3.0 ; python_version >= "3.11" and python_version < "3.13"
jupyterlab-pygments==0.3.0 ; python_version >= "3.11" and python_version < "3.13"
jupyterlab-server==2.28.1 ; python_version >= "3.11" and python_version < "3.13"
jupyterlab-widgets==3.0.17 ; python_version >= "3.11" and python_version < "3.13"
jupyterlab==4.6.4 ; python_version >= "3.11" and python_version < "3.13"
kiwisolver==1.5.1 ; python_version >= "3.11" and python_version < "3.13"
lark==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
lazy-loader==0.6 ; python_version >= "3.11" and python_version < "3.13"
locket==1.0.0 ; python_version >= "3.11" and python_version < "3.13"
loguru==0.7.3 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.13"
markdown==3.11 ; python_version >= "3.11" and python_version < "3.13"
markupsafe==3.0.3 ; python_version >= "3.11" and python_version < "3.13"
matplotlib-inline==0.2.2 ; python_version >= "3.11" and python_version < "3.13"
matplotlib==3.11.2 ; python_version >= "3.11" and python_version < "3.13"
mdit-py-plugins==0.6.1 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
mistune==3.3.4 ; python_version >= "3.11" and python_version < "3.13"
motionless==1.3.3 ; python_version >= "3.11" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
msgpack==1.2.3 ; python_version >= "3.11" and python_version < "3.13"
multidict==6.9.1 ; python_version >= "3.11" and python_version < "3.13"
multimethod==2.1 ; python_version >= "3.11" and python_version < "3.13"
multiurl==0.3.9 ; python_version >= "3.11" and python_version < "3.13"
myst-parser==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
narwhals==2.26.0 ; python_version >= "3.11" and python_version < "3.13"
nbclient==0.11.0 ; python_version >= "3.11" and python_version < "3.13"
nbconvert==7.16.6 ; python_version >= "3.11" and python_version < "3.13"
nbformat==5.11.1 ; python_version >= "3.11" and python_version < "3.13"
nbsphinx==0.9.8 ; python_version >= "3.11" and python_version < "3.13"
nbstripout==0.8.2 ; python_version >= "3.11" and python_version < "3.13"
ndindex==1.10.1 ; python_version >= "3.11" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
netcdf4==1.7.3 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows" and platform_machine == "ARM64"
netcdf4==1.7.4 ; python_version >= "3.11" and python_version < "3.13" and (platform_machine != "ARM64" or platform_system != "Windows")
networkx==3.6.1 ; python_version == "3.11"
networkx==3.7 ; python_version == "3.12"
notebook-shim==0.2.4 ; python_version >= "3.11" and python_version < "3.13"
notebook==7.6.3 ; python_version >= "3.11" and python_version < "3.13"
numcodecs==0.15.1 ; python_version >= "3.11" and python_version < "3.13"
numexpr==2.14.2 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.0 ; python_version >= "3.11" and python_version < "3.13"
nvidia-cublas==13.1.1.3 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cublas==13.8.1.7 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-cuda-cupti==13.0.85 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cuda-nvrtc==13.0.88 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cuda-nvrtc==13.4.92 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-cuda-runtime==13.0.96 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cudnn-cu13==9.24.0.43 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-cufft==12.0.0.61 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cufile==1.15.1.6 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "linux" and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-curand==10.4.0.35 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cusolver==12.0.4.66 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cusparse==12.6.3.3 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cusparselt-cu13==0.8.1 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-nccl-cu12==2.32.3 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux" and platform_machine != "aarch64"
nvidia-nccl-cu13==2.30.7 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-nvjitlink==13.4.92 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-nvshmem-cu13==3.4.5 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
nvidia-nvtx==13.0.85 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
oggm==1.6.3 ; python_version >= "3.11" and python_version < "3.13"
overrides==7.7.0 ; python_version == "3.11"
packaging==26.3 ; python_version >= "3.11" and python_version < "3.13"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "3.13"
pandoc==2.4 ; python_version >= "3.11" and python_version < "3.13"
pandocfilters==1.5.1 ; python_version >= "3.11" and python_version < "3.13"
parso==0.8.7 ; python_version >= "3.11" and python_version < "3.13"
partd==1.4.2 ; python_version >= "3.11" and python_version < "3.13"
pdoc==14.7.0 ; python_version >= "3.11" and python_version < "3.13"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.13" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==10.4.0 ; python_version >= "3.11" and python_version < "3.13"
pip-tools==7.5.0 ; python_version >= "3.11" and python_version < "3.13"
pip==26.2.1 ; python_version >= "3.11" and python_version < "3.13"
platformdirs==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
plumbum==2.0.2 ; python_version >= "3.11" and python_version < "3.13"
ply==3.11 ; python_version >= "3.11" and python_version < "3.13"
pqdm==0.2.0 ; python_version >= "3.11" and python_version < "3.13"
progressbar2==4.6.0 ; python_version >= "3.11" and python_version < "3.13"
prometheus-client==0.26.0 ; python_version >= "3.11" and python_version < "3.13"
prompt-toolkit==3.0.53 ; python_version >= "3.11" and python_version < "3.13"
propcache==0.5.4 ; python_version >= "3.11" and python_version < "3.13"
protobuf==7.36.2 ; python_version >= "3.11" and python_version < "3.13"
psutil==7.2.2 ; python_version >= "3.11" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.13" and (os_name != "nt" or sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.4 ; python_version >= "3.11" and python_version < "3.13"
py-cpuinfo==9.0.0 ; python_version >= "3.11" and python_version < "3.13"
pyarrow==19.0.1 ; python_version >= "3.11" and python_version < "3.13"
pycparser==3.0 ; python_version >= "3.11" and python_version < "3.13" and implementation_name != "PyPy"
pydantic-core==2.46.5 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.13.5 ; python_version >= "3.11" and python_version < "3.13"
pydata-sphinx-theme==0.17.1 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.21.0 ; python_version >= "3.11" and python_version < "3.13"
pyogrio==0.13.0 ; python_version >= "3.11" and python_version < "3.13"
pyparsing==3.3.3 ; python_version >= "3.11" and python_version < "3.13"
pyproj==3.7.2 ; python_version == "3.11"
pyproj==3.8.0 ; python_version == "3.12"
pyproject-hooks==1.3.3 ; python_version >= "3.11" and python_version < "3.13"
pytest-cov==6.3.0 ; python_version >= "3.11" and python_version < "3.13"
pytest==8.4.2 ; python_version >= "3.11" and python_version < "3.13"
python-cmr==0.13.0 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-json-logger==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
python-utils==4.0.1 ; python_version >= "3.11" and python_version < "3.13"
pytz==2026.4 ; python_version >= "3.11" and python_version < "3.13"
pywinpty==3.0.5 ; python_version >= "3.11" and python_version < "3.13" and os_name == "nt"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "3.13"
pyzmq==27.2.0 ; python_version >= "3.11" and python_version < "3.13"
rasterio==1.4.4 ; python_version >= "3.11" and python_version < "3.13"
referencing==0.37.0 ; python_version >= "3.11" and python_version < "3.13"
requests==2.34.2 ; python_version >= "3.11" and python_version < "3.13"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "3.13"
rfc3986-validator==0.1.1 ; python_version >= "3.11" and python_version < "3.13"
rfc3987-syntax==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
rich==15.0.0 ; python_version >= "3.11" and python_version < "3.13"
rioxarray==0.17.0 ; python_version >= "3.11" and python_version < "3.13"
rpds-py==2026.6.3 ; python_version >= "3.11" and python_version < "3.13"
s3fs==2026.9.0 ; python_version >= "3.11" and python_version < "3.13"
salem==0.3.11 ; python_version >= "3.11" and python_version < "3.13"
scikit-image==0.24.0 ; python_version >= "3.11" and python_version < "3.13"
scikit-learn==1.9.1 ; python_version >= "3.11" and python_version < "3.13"
scipy==1.16.3 ; python_version >= "3.11" and python_version < "3.13"
seaborn==0.13.2 ; python_version >= "3.11" and python_version < "3.13"
send2trash==2.1.0 ; python_version >= "3.11" and python_version < "3.13"
setuptools==81.0.0 ; python_version >= "3.11" and python_version < "3.13"
shapely==2.1.2 ; python_version >= "3.11" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.13"
skorch==1.4.0 ; python_version >= "3.11" and python_version < "3.13"
smmap==5.0.3 ; python_version >= "3.11" and python_version < "3.13"
snowballstemmer==3.1.1 ; python_version >= "3.11" and python_version < "3.13"
socksio==1.0.0 ; python_version >= "3.11" and python_version < "3.13"
soupsieve==2.10 ; python_version >= "3.11" and python_version < "3.13"
sphinx-autobuild==2025.8.25 ; python_version >= "3.11" and python_version < "3.13"
sphinx-autorun==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
sphinx-book-theme==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
sphinx-intl==2.4.0 ; python_version >= "3.11" and python_version < "3.13"
sphinx-reredirects==0.1.6 ; python_version >= "3.11" and python_version < "3.13"
sphinx-rtd-theme==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
sphinx==7.4.7 ; python_version >= "3.11" and python_version < "3.13"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.11" and python_version < "3.13"
sphinxcontrib-jquery==4.1 ; python_version >= "3.11" and python_version < "3.13"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11" and python_version < "3.13"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
sphinxemoji==0.3.2 ; python_version >= "3.11" and python_version < "3.13"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "3.13"
starlette==1.7.0 ; python_version >= "3.11" and python_version < "3.13"
sympy==1.14.0 ; python_version >= "3.11" and python_version < "3.13"
tables==3.11.1 ; python_version >= "3.11" and python_version < "3.13"
tabulate==0.10.0 ; python_version >= "3.11" and python_version < "3.13"
tenacity==9.1.4 ; python_version >= "3.11" and python_version < "3.13"
tensorboard-data-server==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
tensorboard==2.21.0 ; python_version >= "3.11" and python_version < "3.13"
terminado==0.18.1 ; python_version >= "3.11" and python_version < "3.13"
threadpoolctl==3.7.0 ; python_version >= "3.11" and python_version < "3.13"
tifffile==2026.3.3 ; python_version >= "3.11" and python_version < "3.13"
tinycss2==1.5.1 ; python_version >= "3.11" and python_version < "3.13"
tinynetrc==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
toolz==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
torch==2.14.1 ; python_version >= "3.11" and python_version < "3.13"
torcheval==0.0.7 ; python_version >= "3.11" and python_version < "3.13"
torchsummary==1.5.1 ; python_version >= "3.11" and python_version < "3.13"
tornado==6.5.10 ; python_version >= "3.11" and python_version < "3.13"
tqdm==4.70.1 ; python_version >= "3.11" and python_version < "3.13"
traitlets==5.16.1 ; python_version >= "3.11" and python_version < "3.13"
triton==3.8.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
truststore==0.10.4 ; python_version >= "3.11" and python_version < "3.13" and sys_platform != "emscripten"
typing-extensions==4.16.0 ; python_version >= "3.11" and python_version < "3.13"
typing-inspection==0.4.4 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2026.4 ; python_version >= "3.11" and python_version < "3.13"
uri-template==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.8.0 ; python_version >= "3.11" and python_version < "3.13"
uvicorn==0.54.0 ; python_version >= "3.11" and python_version < "3.13"
watchfiles==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
wcwidth==0.9.1 ; python_version >= "3.11" and python_version < "3.13"
webcolors==25.10.0 ; python_version >= "3.11" and python_version < "3.13"
webencodings==0.6.1 ; python_version >= "3.11" and python_version < "3.13"
websocket-client==1.9.2 ; python_version >= "3.11" and python_version < "3.13"
websockets==17.1 ; python_version >= "3.11" and python_version < "3.13"
werkzeug==3.1.9 ; python_version >= "3.11" and python_version < "3.13"
wheel==0.48.0 ; python_version >= "3.11" and python_version < "3.13"
widgetsnbextension==4.0.16 ; python_version >= "3.11" and python_version < "3.13"
win32-setctime==1.2.0 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
wrapt==2.5.0 ; python_version >= "3.11" and python_version < "3.13"
xarray==2024.11.0 ; python_version >= "3.11" and python_version < "3.13"
xgboost==2.1.4 ; python_version >= "3.11" and python_version < "3.13"
yarl==1.25.1 ; python_version >= "3.11" and python_version < "3.13"
zarr==2.18.4 ; python_version >= "3.11" and python_version < "3.13"
zenodo-get==3.1.0 ; python_version >= "3.11" and python_version < "3.13"
zipp==4.1.0 ; python_version == "3.11"
